<h2>About Note-e</h2>

<br/>

<p>Note-e is a class project for ITU SWE 500 course. This project is built with dedication and contribution to provide a tool for ITU students and faculties to note critical information down with very little resources required. Note-e is different from other many note apps with very ituitive and simple UI design, and required little resources to run with users' PC or mobile devices. There are lots of feature we can still enhance in the future, we focused on the most basic and critical features with FDD develoment model during the trimester (2015 Fall).</p>


<p>The project roles and our contact method are listed below:</p>


<ul>
	<li>Software Architecture:  Elcin Erkin (89975.toprak@students.itu.edu)</li>
	<li>Software developer: Ananth Kamalesan (88039.kamalesan@students.itu.edu) and Sunyin Yao (89095.yao@students.itu.edu)</li>
	<li>QA: Devika Gopal(88352.gopal@students.itu.edu)</li>
	<li>PM: Poi Kuo (89429.kuo@students.itu.edu)</li>
</ul>

<p>Feel free to contact us if you met any problems with Note-e!</p>
