<h2> Frequently Asked Questions </h2>

<ol>
	<li>
		<em>How do I use note-e?</em>
		<br/>
		<p>Login with or register a google account, then you can start the journey by creating different cards.</p>
	</li>
	<li>
		<em>What cards can I create and how?</em>
		</br>	
		<p>Clicking the main page with + cards button with 4 types of cards: plain text, to-do list, link list, photo.</p>
	</li>
	<li>
		<em>How can I manage my cards?</em>
		<br/>
		<p>Once you created cards, you can click in the cards to view, edit, delete or chage color. And if you want to find certain cards, use the search function with certain card type, keyword, or tag.</p>
	</li>
	<li>
		<em>How do I create a to-do list?</em>
		<br/>
		<p>Click the create to-do list button then you would be able to add title, tag, and add item one by one. You can also set the priority for several items so higher priority item will be shown first. You can also delete the item you don't want or chek it when it's done.</p>
	</li>
	<li>
		<em>How do I create a link list?</em>
		<br/>
		<p>Click the create link list button then you would be able to add title, tag, and add link. For each link, You may  add description to be shown later so you know what's the link for.You can also delete the item you don't want or chek it when it's done.</p>
	</li>
	<li>
		<em>How do I create a photo card?</em>
		<br/>
		<p>Click the create photo card button, and you will be able to choose from add from existing file or take a pic with camera. Choose the file you want to upload or take a picture of the scene you want and it's done!</p>
	</li>
	<li>
		<em>How do I edit my cards?</em>
		<br/>
 		<p>You would have to click in the cards, hover your mouse to top left and you will see edit button shown up. Pressed the edit button, you can then change your content. Once you are done, please press update to save those changes.</p>
 	</li>
 	<li>
 		<em>How do I delete my cards?</em>
 		<br/>
 		<p>There are 2 possible way to delete cards now, the first method is to hover your mouse to the top-right cornor to see the delete button, click and confirm will make it. The second method is to click in the cards, hover your mouse to top right and you will see edit button shown up, click and confirm will make it.</p>
 	</li>
 	<li>
 		<em>How do I leave the card view?</em>
 		<br/>
 		<p>After you are in the card view, click somewhere outside the view, and you will go to the main page. Just be sure to update what you have changed!!!</p>
 	</li>
</ol>