<h2> Frequently Asked Questions </h2>

<ol>
	<li>
		<em>Q: How do I use note-e?</em>
		<br/>
		<p>Login with or register a google account, then you can start the journey by creating different cards.</p>
	</li>
	<li>
		<em>Q: What cards can I create and how?</em>
		</br>	
		<p>Clicking the main page with + cards button with 4 types of cards: plain text, to-do list, link list, photo.</p>
	</li>
	<li>
		<em>Q: How can I manage my cards?</em>
		<br/>
		<p>Once you created cards, you can click in the cards to view, edit, delete or chage color. And if you want to find certain cards, use the search function with certain card type, keyword, or tag.</p>
	</li>
	<li>
		<em>Q: How do I create a to-do list?</em>
		<br/>
		<p>Click the create to-do list button then you would be able to add title, tag, and add item one by one. You can also set the priority for several items so higher priority item will be shown first. You can also delete the item you don't want or chek it when it's done.</p>
	</li>
	<li>
		<em>Q: How do I create a link list?</em>
		<br/>
		<p>Click the create link list button then you would be able to add title, tag, and add link. For each link, You may  add description to be shown later so you know what's the link for.You can also delete the item you don't want or chek it when it's done.</p>
	</li>
	<li>
		<em>Q: How do I create a photo card?</em>
		<br/>
		<p>Click the create photo card button, and you will be able to choose from add from existing file or take a pic with camera. Choose the file you want to upload or take a picture of the scene you want and it's done!</p>
	</li>
</ol>