<!-- Modal views below-->
<div>
	<script type="text/ng-template" id="myPlainText.html">
        <div class="modal-header" style="background-color:{{text.color}}">
            <h3 class="modal-title">PlainTextCard</h3>
        </div>
        <div class="modal-body">
        	<input type="text" placeholder="Enter your Title" class="form-control" ng-model="text.title"></br>
           <input type="text" placeholder="Enter your Tag" class="form-control" ng-model="text.tag"></br>
           Choose your color: <select ng-model="text.color" class="">
              <option value="#FFFFFF" selected>White</option>
              <option value="#FF5050"></span><span style="color:FF5050">Red</span></option>
              <option value="#66FF66">Green</option>
              <option value="#8D8D8D">Grey</option>
              <option value="#99CCFF">Blue</option>
              <option value="#ffff4d">Yellow</option>
              <option value="#FF66FF">Purple</option>
            </select></br></br>
           <textarea placeholder="Enter your Title" ng-model="text.content" class="form-control"></textarea>
        </div>
        <div class="modal-footer">
        	<span class="btn-group col-md-8">
				<label class="btn btn-danger" ng-model="text.priority" uib-btn-radio="'High'">Priority High</label>
				<label class="btn btn-default" ng-model="text.priority" uib-btn-radio="'Low'">Priority Low</label>
            </span>
            <button class="btn btn-primary" type="button" ng-click="ok()">Save</button>
            <button class="btn btn-warning" type="button" ng-click="cancel()">Cancel</button>
        </div>
    </script>
    <script type="text/ng-template" id="mylist.html">
        <div class="modal-header" style="background-color:{{todo.color}}">
            <h3 class="modal-title">Check List</h3>
        </div>
        <div class="modal-body">
            <input type="text" placeholder="Enter your Title" class="form-control" ng-model="todo.title"></br>
            <input type="text" placeholder="Enter your Tag" class="form-control" ng-model="todo.tag"></br> 
            Choose your color: 
            <select ng-model="todo.color">
				<option value="#FFFFFF" selected>White</option>
				<option value="#FF5050"></span><span style="color:FF5050">Red</span></option>
				<option value="#66FF66">Green</option>
				<option value="#8D8D8D">Grey</option>
				<option value="#99CCFF">Blue</option>
				<option value="#ffff4d">Yellow</option>
				<option value="#FF66FF">Purple</option>
				</select><br>
			<div ng-repeat="list in todo.lists" }>
				<input ng-show="list.content.length > 0" type="checkbox" ng-model="list.check"/>
				<span ng-class="{strike:list.check}">{{ list.content }}</span>
        <div class="btn-group">
          <label class="btn btn-danger btn-xs" ng-model="list.priority" uib-btn-radio="'High'">Priority High</label>
          <label class="btn btn-default btn-xs" ng-model="list.priority" uib-btn-radio="'Low'">Priority Low</label>
        </div>
        <button class="btn btn-warning btn-xs" ng-click="remove($index)">remove</button>
	    </div>       
        <input ng-show="list.content.length > 0" type="checkbox" ng-model="list.check" />
	      <span ng-class="{strike:list.check}"> {{ list.content }}</span><br>   
	      <button type="button" ng-show="list.content.length > 0" class="btn btn-default" ng-click="add(list)">Confrim</button></br>         
	      <input type="text" placeholder="Enter your NEW list here" class="form-control" ng-model="list.content"><br>
        <div class="modal-footer">
          <div>
              <button class="btn btn-primary" type="button" ng-click="ok()">Save</button>
              <button class="btn btn-warning" type="button" ng-click="cancel()">Cancel</button>
          </div>
        </div>
    </script>
    <script type="text/ng-template" id="myPhoto.html">
        <div class="modal-header" style="background-color:{{photo.color}}">
            <h3 class="modal-title">Photo</h3>
        </div>
        <div class="modal-body">
        	<input type="text" placeholder="Enter your Title" class="form-control" ng-model="photo.title"></br>
           <input type="text" placeholder="Enter your Tag" class="form-control" ng-model="photo.tag"></br>
           Choose your color: <select ng-model="photo.color" class="">
              <option value="#FFFFFF" selected>White</option>
              <option value="#FF5050"></span><span style="color:FF5050">Red</span></option>
              <option value="#66FF66">Green</option>
              <option value="#8D8D8D">Grey</option>
              <option value="#99CCFF">Blue</option>
              <option value="#ffff4d">Yellow</option>
              <option value="#FF66FF">Purple</option>
            </select><br /><br />
            <input type="file" />

            <button class="btn btn-default btn-xs" type="button" ng-click="camera=true">Take a photo</button>
            <div ng-if="camera">
              <ng-camera
                  capture-message="Cheeeese!"
                  countdown="3"
                  output-height="160"
                  output-width="213"
                  viewer-height="320"
                  viewer-width="426"
                  image-format="jpeg"
                  jpeg-quality="100"
                  action-message="Countdown 3s"
                  snapshot="vm.picture"
                  flash-fallback-url="../../bower_components/webcamjs/webcam.swf"
                  shutter-url="../media/shutter.mp3"></ng-camera>
              <img ng-if="vm.picture" ng-src="{{vm.picture}}" alt="webcam picture">
            </div>
        </div>
        <div class="modal-footer">
        	<span class="btn-group col-md-8">
				<label class="btn btn-danger" ng-model="photo.priority" uib-btn-radio="'High'">Priority High</label>
				<label class="btn btn-default" ng-model="photo.priority" uib-btn-radio="'Low'">Priority Low</label>
            </span>
            <button class="btn btn-primary" type="button" ng-click="ok()">Save</button>
            <button class="btn btn-warning" type="button" ng-click="cancel()">Cancel</button>
        </div>
    </script>
    <script type="text/ng-template" id="mylink.html">
        <div class="modal-header" style="background-color:{{link.color}}">
            <h3 class="modal-title">Quick Links</h3>
        </div>
        <div class="modal-body">
            <input type="text" placeholder="Enter your Title" class="form-control" ng-model="link.title"><br />
            <input type="text" placeholder="Enter your Tag" class="form-control" ng-model="link.tag"><br /> 
            Choose your color: 
            <select ng-model="link.color">
				<option value="#FFFFFF" selected>White</option>
				<option value="#FF5050"></span><span style="color:FF5050">Red</span></option>
				<option value="#66FF66">Green</option>
				<option value="#8D8D8D">Grey</option>
				<option value="#99CCFF">Blue</option>
				<option value="#ffff4d">Yellow</option>
				<option value="#FF66FF">Purple</option>
				</select><br>
			<div ng-repeat="url in link.urls" }>
				<a ng-src="{{ url.content }}"><span ng-hide="url.description.length > 0"> {{ url.content}} </span>{{ url.description }}</a>
				<button type="button" aria-label="Left Align" ng-click="remove($index)">remove</button>
	        </div>       
            <span ng-show="url.content.length > 0">
            	<a ng-src="{{ url.content }}"><span ng-hide="url.description.length > 0"> {{ url.content}} </span> {{ url.description }}
            	</a><br />
            </span><br>   
	        <button type="button" ng-show="url.content.length > 0" class="btn btn-default" ng-click="add(url)">Confrim</button><br> <br>        
	        <input type="text" placeholder="Add your URL here" class="form-control" ng-model="url.content"><br />
	        <input type="text" placeholder="Add description" class="form-control" ng-model="url.description"><br />
        </div>
        <div class="modal-footer">
          <div>
              <button class="btn btn-primary" type="button" ng-click="ok()">Save</button>
              <button class="btn btn-warning" type="button" ng-click="cancel()">Cancel</button>
            </span>
          </div>
        </div>
    </script>
</div>
<!-- <div>Here are the data will be saved to backend
	<div>{{ texts }}</div>
	<div>{{ todos }}</div>
	<div>{{ photos }}</div>
	<div>{{ links }}</div>
</div> -->

<div class="row home-container">
	<div class="col-xs-12" style="height: auto; background: none; border: 1px solid #ccc;">
		<div class="row" style="margin-bottom: 15px; max-height: 100px; background: none;">
			<div class="col-xs-12 col-md-6" style="max-height: 100px; background: #ccc;">
				<div class="row text-center">
					<div class="col-xs-6 col-md-3 add-note">
						<button ng-click="addText()" class="add-note-button">Text</button>
					</div>
					<div class="col-xs-6 col-md-3 add-note">
						<button ng-click="addList()" class="add-note-button">ToDo</button>
					</div>
					<div class="col-xs-6 col-md-3 add-note">
						<button ng-click="addPhoto()" class="add-note-button">Image</button>
					</div>
					<div class="col-xs-6 col-md-3 add-note">
						<button ng-click="addLink()" class="add-note-button">Links</button>
					</div>
				</div>
			</div>
			<div class="col-xs-12 col-md-6" style="max-height: 100px; background: #ccc;">
				<div class="row">
					<div class="col-xs-12 col-md-6 search-note">
						<input class="search-note-input" type="text" placeholder="search here..." />
					</div>
					<div class="col-xs-6 col-md-3 search-note" style="font-size: .8em;">
						<input class="search-note-input" type="date" />
					</div>
					<div class="col-xs-6 col-md-3 search-note">
						<select class="search-note-input">
							<option value="text">Plain Text</option>
							<option value="todo">Todo List</option>
							<option value="image">Image</option>
							<option value="links">Quick Links</option>
						</select>
					</div>
				</div>
			</div>
		</div>

		<div class="row" style="background: none;">
			<div class="cards-container col-xs-12 col-md-12" style="background: none;">
				<div masonry class="row cards">
					<div class="masonry-brick card-container col-xs-6 col-md-3" ng-repeat="card in stubbedData.cards track by $index">
						<div class="card" style="background: #eee;">
							<div class="title" ng-bind="card.title"></div>
							<div class="desc" ng-bind="card.desc"></div>
							<div class="image-container">
								<img class="image" ng-src="{{card.imageUrl}}">
							</div>							
						</div>						
					</div>				
				</div>
			</div>
		</div>
	</div>	
</div>