<div class="view-note-container" >
	<div class="card" style="background: #eee;" ng-switch="card.category">
		<notee-delete note="card._id"></notee-delete>
		<div class="title" style="{{ 'background:' + card.note.color + ';'}}" ng-if="card.note.title && card.note.title.length>0" ng-bind="card.note.title"></div>
		<div ng-switch-when="text" notee-text></div>
		<div ng-switch-when="todo" notee-todo></div>
		<div ng-switch-when="image" notee-image></div>
		<div ng-switch-when="links" notee-links></div>
		<div ng-switch-default></div>              

		<div class="tags" ng-if="card.note.tags && card.note.tags.length>0">
			<span>Tags</span>
			<ul>
				<li ng-repeat="tag in card.note.tags" ng-bind="tag"></li>
			</ul>
		</div>
	</div>	
</div>