<div class="view-note-container">
	<div class="card" style="background: #eee;" ng-switch="card.category">
		<notee-edit note="card._id"></notee-edit>
		<notee-delete note="card._id"></notee-delete>
		<div class="view-title" style="{{ 'background:' + card.note.color + ';'}}" contenteditable={{edit.enabled}} ng-model="card.note.title" ng-keydown="this.blur()"></div>

		<div style="text-align: right; padding: 10px;" ng-show="edit.enabled">
			<label>Choose a color for the note</label>
			<select ng-model="card.note.color" class="">
              <option value="#FFFFFF" selected>White</option>
              <option value="#FF5050">Red</option>
              <option value="#66FF66">Green</option>
              <option value="#8D8D8D">Grey</option>
              <option value="#99CCFF">Blue</option>
              <option value="#ffff4d">Yellow</option>
              <option value="#FF66FF">Purple</option>
            </select>
		</div>

		<div ng-switch-when="text" notee-text></div>
		<div ng-switch-when="todo" notee-todo></div>
		<div ng-switch-when="image" notee-image></div>
		<div ng-switch-when="links" notee-links></div>
		<div ng-switch-default></div>              

		<div class="tags-container">
			<div class="tags" ng-if="card.note.tags && card.note.tags.length>0">
				<span>Tags</span>
				<ul>
					<li ng-repeat="tag in card.note.tags track by $index">
						<span contenteditable={{edit.enabled}} ng-model="card.note.tags[$index]"></span>
						<span ng-show="edit.enabled" class="glyphicon glyphicon-remove-circle" ng-click="deleteTag($index)"></span>
					</li>
				</ul>				
			</div>
			<div ng-show="edit.enabled">
				<input type="text" class="new-tag" ng-model="edit.newTag" placeholder="add a tag here" ng-keyup="keyPressed($event, edit.newTag)" />
				<span class="btn btn-xs btn-primary" ng-click="addTag(edit.newTag)" ng-disabled="edit.newTag.length<=0">Add Tag</span>
			</div>
		</div>
		<div ng-show="edit.enabled" class="edit-buttons row">
			<div class="col-md-offset-6 col-md-3 btn btn-primary update" ng-click="updateCard(card)" ng-disabled="!edit.cardChanged">Update</div>
			<div class="col-md-3 btn btn-default cancel" ng-click="cancel()">Cancel</div>
		</div>
		<div class="created-date" ng-bind="card.createdDate | date: 'MM/dd/yyyy @ h:mma'"></div>
	</div>
</div>
